@model SolarDB.Models.WeatherReading

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>WeatherReading</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateAndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateAndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmbientTemp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmbientTemp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModuleTemp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModuleTemp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Irridation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Irridation)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.WeatherReadingID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
