@model SolarDB.ViewModel.SolarViewModel

@{
    ViewData["Title"] = "Readings";
}

<style>

    #container1 {
        width: 100%;
        height: 100%;
    }

    #formDiv {
        width: 500px;
        height: 500px;
        background-color: blue;
        margin-left: auto;
        margin-right: auto;
    }

    .sideBySide {
        width: 50%;
        height: 100%;
        float: left;
        overflow-y: auto;
    }

    .tableStyle {
        border: 1px solid black;
    }

    th {
        border-left: solid black 1px;
    }

    .tableStyle tr th {
        font-size: 8pt;
        text-align: center;
    }

    .clear {
        clear: both;
    }
</style>

<!-- ###########################################
     ###########################################
     ###########################################
     ########################################### -->

<div id="container1">
    <h1>Show first 50 Weather Readings for a plant</h1>
</div>

<div class="clear"></div>
<div id="container1">
    @{

        double aTempAvg = 0.0;
        double mTempAvg = 0.0;
        double irridAvg = 0.0;

        foreach (var fc in Model.facilities)
        {
            <div class="sideBySide">
                <h3>Plant @fc.PlantNumber</h3>
                <table class="tableStyle">
                    <thread>
                        <!-- Labels THESE ARE MESSED UP-->
                        <tr>
                            <th>@Html.DisplayNameFor(modelItem => Model.weatherReadings.First().DateAndTime))</th>
                            <th>@Html.DisplayNameFor(modelItem => Model.weatherReadings.First().AmbientTemp)</th>
                            <th>@Html.DisplayNameFor(modelItem => Model.weatherReadings.First().ModuleTemp)</th>
                            <th>@Html.DisplayNameFor(modelItem => Model.weatherReadings.First().Irridation)</th>
                        </tr>
                    </thread>
                    <tbody>
                        <!-- Information-->
                        @foreach (var wr in Model.weatherReadings)
                        {
                            if (wr.PlantNumber == fc.PlantNumber)
                            {
                                <tr>
                                    <th>
                                        @Html.DisplayFor(modelItem => wr.DateAndTime)
                                    </th>
                                    <th>

                                        @Html.DisplayFor(modelItem => wr.AmbientTemp)
                                        @{aTempAvg += wr.AmbientTemp;}
                                    </th>
                                    <th>

                                        @Html.DisplayFor(modelItem => wr.ModuleTemp)
                                        @{mTempAvg += wr.ModuleTemp;}

                                    </th>
                                    <th>

                                        @Html.DisplayFor(modelItem => wr.Irridation)
                                        @{irridAvg += wr.Irridation;}
                                    </th>
                                </tr>
                            }
                        }
                    </tbody>
                    <tfoot>
                        <!-- Footer-->
                        <tr>
                            <th>Averages</th>
                            <th>
                                @{aTempAvg /= 50.0;}
                                @aTempAvg
                            </th>
                            <th>
                                @{mTempAvg /= 50.0;}
                                @mTempAvg
                            </th>
                            <th>
                                @{irridAvg /= 50.0;}
                                @irridAvg
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        }
    }
</div>

<div class="clear"><br /><br /></div>

@{
    <div id="formDiv">

        <form method="post" action="">
            Text String:<br />
            <input type="date" id="formText" name="TestString" />
            <input type="submit" value="Submit" />
        </form>
    </div>

    if (Context.Request.Method == "POST")
    {
        <div class="clear">
            @{
                if (@ViewBag.form_data != null)
                {
                    <p>
                    Data was POST'd <br/>
                    Output text: @ViewBag.form_data
                    </p>
                }
            }
        </div>
    }
}