@model SolarDB.ViewModel.SolarViewModel

<script type="text/javascript">
    var facilities = @Html.Raw(Json.Serialize(@Model.facilities));
    var weather = @Html.Raw(Json.Serialize(@Model.weatherReadings));
    var power = @Html.Raw(Json.Serialize(@Model.powerReadings));
    var powerSource = @Html.Raw(Json.Serialize(Model.powerSources));
    var data = [];


    /*
     * 
     *  {
     *      facility: int,
     *      weather: 
     *          [{ ambientTemp : double, moduleTemp : double, irradiation : double}]
     *      Source key string as object key 0..n: 
     *          [{ dC_power : double, aC_power : double, dailyYield : double, totalYield : double}]
     *  }
     *  
     *  All of these are pre sorted
     */
    function parseData()
    {
        //Add each of the facilities
        for (i = 0; i < facilities.length; i++) {
            data.push({"facility" : facilities[i]["plantNumber"], "weather": [] });
        }

        //For each weather reading, 
        for (i = 0; i < weather.length; i++)
            for (let j = 0; j < data.length; j++)
                if (data[j].facility == weather[i].plantNumber)
                    data[j].weather.push(
                        {
                            "ambientTemp": weather[i].ambientTemp, "moduleTemp": weather[i].moduleTemp, "irradiation": weather[i].irradiation
                        });

        for (let i = 0; i < powerSource.length; i++)
            for (let j = 0; j < data.length; j++)
                if (data[j].facility == powerSource[i].plantNumber)
                {
                    let key = powerSource[i].sourceKey;
                    data[j][key] = [];
                }

        
        for (let i = 0; i < power.length; i++)
            for (let j = 0; j < data.length; j++)
            {
                if (data[j][power[i].sourceKey]) {
                    let key = power[i].sourceKey;
                    data[j][key].push(
                        {
                            "dC_Power": power[i]["dC_Power"], "aC_Power": power[i]["aC_Power"], "dailyYield": power[i]["dailyYield"], "totalYield": power[i]["totalYield"]
                        });
                }
            }
    }

    parseData();
    //console.log(data[0].powerArrays["1BY6WEcLGh8j5v7"][0]);
    //console.log("done");

    console.log(data);
</script>

@{
    ViewData["Title"] = "Graphing";
}

<style>

    #container1 {
        width: 100%;
        height: 100%;
    }

    #chartContainer {
        height: 100%;
        float: left;
    }

    #formDiv {
        border: solid 1px black;
        float: left;
        padding: 2px;
    }

    .checkBoxContainer {
        border: solid black 1px;
        float: left;
        padding: 2px;
        margin: 1px;
        margin-bottom:3px;
    }

    .checkBoxList {
        display: none;
    }

    .sideBySide {
        width: 50%;
        height: 100%;
        float: left;
        overflow-y: auto;
    }

    .tableStyle {
        border: 1px solid black;
        padding: 1px;
    }

    th {
        border-left: solid black 1px;
    }

    .tableStyle tr th {
        font-size: 8pt;
        text-align: center;
    }

    .clear {
        clear: both;
    }

    canvas {
        border: solid 1px black;
    }
</style>

<!-- ###########################################
     ###########################################
     ###########################################
     ########################################### -->

<div id="container1">
    <h1>Select which data to use</h1>
</div>

<div class="clear"><br /><br /></div>

<div id="formDiv">
    <form method="post" action="">
        <label for="DateStart">Start Date</label>
        <input type="date" name="startDate" value="@Model.dateStart.ToString("yyyy-MM-dd")" />

        <label for="DateEnd">End Date</label>
        <input type="date" name="endDate" value="@Model.dateEnd.Date.ToString("yyyy-MM-dd")" />
        <br />
        <div class="checkBoxContainer">
            <label for="showWeather">Load Weather Readings</label>
            <input type="checkbox" id="showWeatherReading" name="showWeather" onclick="checkboxValue('showWeatherReading')" />
        </div>
        <div class="checkBoxContainer" style="float:right;">
            <label for="showPower">Load Power Readings</label>
            <input type="checkbox" id="showPowerReading" name="showPower" onclick="checkboxValue('showPowerReading')" />
        </div>
        <div class="clear"></div>
        <label for="PlantNum">Plant</label>
        <select id="PlantNum" name="plantNum">
            @{
                foreach (var fc in Model.facilities)
                {
                    <option value="@fc.PlantNumber">@fc.PlantNumber</option>
                }
            }
            <option value="All">All</option>
        </select>
        <input type="submit" style="float:right;" value="Submit" />
    </form>
</div>

<div class="clear"><br /></div>

<!-- Main content Shown if post-->
@if (Context.Request.Method == "POST")
{
    <hr />
    <div id="chartContainer">
        <canvas id="graph" width="750" height="500">Your browser does not support the canvas element.</canvas>
        <script>charts.init("graph");</script>
    </div>
    <div style="float:left;">
        <div style="width:100%;height:20%;background-color:blue;">words</div>
        <div class="clear"></div>
        <div style="width:50%;height:80%;background-color:red;">yes</div>
    </div>
}