@model SolarDB.ViewModel.SolarViewModel

<script type="text/javascript">
    let facilities = @Html.Raw(Json.Serialize(@Model.facilities));
    let weather = @Html.Raw(Json.Serialize(@Model.weatherReadings));
    let power = @Html.Raw(Json.Serialize(@Model.powerReadings));
    let powerSources = @Html.Raw(Json.Serialize(Model.powerSources));
</script>

@{
    ViewData["Title"] = "Graphing";
}

<!-- ###########################################
     ###########################################
     ###########################################
     ########################################### -->

<div id="container1">
    <h1 style="text-align:center;">View Graphed Data</h1>
</div>

<div class="clear"><br /><br /></div>

<div class="formDiv">
    <label for="dateStart">Start Date</label>
    <input type="date" id="startDate" name="startDate" value="@Model.dateStart.ToString("yyyy-MM-dd")" class="dateBox" min="2020-05-15" max="2020-05-22" />

    <label for="dateEnd">End Date</label>
    <input type="date" id="endDate" name="endDate" value="@Model.dateEnd.Date.ToString("yyyy-MM-dd")" class="dateBox" min="2020-05-16" max="2020-05-23" />
    <br />
    <span id="formMessage"></span>
    <button type="button" class="defaultButton" onclick="formSubmit()">Submit</button>
</div>
<div id="textBox">
    <p>Choose the range of dates of data to be graphed.</p>
</div>
<div class="clear"><br /></div>
<hr />
<div class="genericContainer">
    <canvas id="graph" width="800" height="500">Your browser does not support the canvas element.</canvas>
</div>

<div class="genericContainer">
    <div class="genericContainer" id="GUIcontrol"></div>
</div>

<script>
    onReady();
</script>
